@media all and (max-width: 400px) {
	html{
		margin: 0 0 16vw 0;
	}
}

@media (min-width: 400px) and (max-width: 800px) {
	html{
		margin: 0 0 19vw 0;
	}
}

@media (min-width: 800px) and (max-width: 979px) {
	html{
		margin: 0 0 16vw 0;
	}
}

@media all and (min-width: 980px) {
	html{
		margin: 0 0 160px 0;
	}
}
.hide {
	display: none;
}

.default-font {
	font-family: 'godoRounded', sans-serif;
	text-decoration: none;
}

.default-font-bold {
	font-family: 'GodoM', sans-serif;
	text-decoration: none;
}

.app {
	text-align: center;
	display: block;
	width: 100%;
}

.right {
	float: right;
	content: ' ';
}

.left {
	float: left;
	content: ' ';
}
