html {
	height: 200%;
	margin: auto 0px;
}

@font-face {
	font-family: 'GoDoM';
	src: url("/fonts/GodoM.ttf") format('truetype');
}

@font-face {
	font-family: 'godoRounded';
	src: url("/fonts/godoRoundedL.ttf") format('truetype');
}

.hide {
	display: none;
}

.default-font {
	font-family: 'godoRounded', sans-serif;
	text-decoration: none;
}

.default-font-bold {
	font-family: 'GodoM', sans-serif;
	text-decoration: none;
}

.app {
	text-align: center;
	display: block;
	width: 100%;
}

.right {
	float: right;
	content: ' ';
}

.left {
	float: left;
	content: ' ';
}
