html,
body {
	padding: 0;
	margin: 0;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	background: whitesmoke;
}

.header span.backbutton {
	font-size: 30px;
	margin: 20px;
}

.header span.top-button1 {
	float: right;
	margin: 20px 20px 0 0;
}

.header span.top-button2 {
	float: right;
	margin: 20px 20px 0 0;
}

.frame {
	background: #ececf6;
	border: 1px solid #c0c0c0;
	/*margin-bottom: 20px;*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer {
	width: 100%;
	height: 50px;
	background: #9fcdff;
	position: fixed;
	z-index: 99;
	bottom: 0;
	overflow: hidden;
	padding: 15px;
	padding-right: 10px;
}

.outer {
	display: table;
	width: 100%;
	height: 100%;
}

.inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.footer .right {
	float: right;
}

.footer .left {
	float: left;
}
