{
  "proseWrap": "preserve",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 4,
  "parser":"babylon",
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "bracketSpacing": false,
  "noSemi": true,
}