@font-face {
	font-family: 'cczicon';
	src:url('fonts/cczicon.eot?emuxs4');
	src:url('fonts/cczicon.eot?emuxs4#iefix') format('embedded-opentype'),
		url('fonts/cczicon.ttf?emuxs4') format('truetype'),
		url('fonts/cczicon.woff?emuxs4') format('woff'),
		url('fonts/cczicon.svg?emuxs4#cczicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'cczicon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e20e";
}
.icon-list:before {
	content: "\e2aa";
}
.icon-more-horizon:before {
	content: "\e20f";
}
.icon-more-vert:before {
	content: "\e210";
}
.icon-add-circle:before {
	content: "\e06c";
}
.icon-remove_circle:before {
	content: "\e081";
}
.icon-cancel-circle:before {
	content: "\e29c";
}
.icon-add_circle:before {
	content: "\e06b";
}
.icon-cancel_circle:before {
	content: "\e205";
}
.icon-error:before {
	content: "\e000";
}
.icon-info:before {
	content: "\e2a2";
}
.icon-help:before {
	content: "\e29b";
}
.icon-repeat:before {
	content: "\e023";
}
.icon-links:before {
	content: "\e28d";
}
.icon-home2:before {
	content: "\e29e";
}
.icon-portrait:before {
	content: "\e1a7";
}
.icon-image:before {
	content: "\e186";
}
.icon-bookmark:before {
	content: "\e27c";
}
.icon-filter:before {
	content: "\e175";
}
.icon-folder2:before {
	content: "\e101";
}
.icon-check:before {
	content: "\e206";
}
.icon-check_circle:before {
	content: "\e281";
}
.icon-time:before {
	content: "\e08e";
}
.icon-favorite:before {
	content: "\e291";
}
.icon-magnifier:before {
	content: "\e63b";
}
.icon-cog:before {
	content: "\e686";
}
.icon-close:before {
	content: "\e616";
}
.icon-angle-up:before {
	content: "\e60e";
}
.icon-angle-down:before {
	content: "\e619";
}
.icon-arrow-down:before {
	content: "\f35f";
}
.icon-arrow-up:before {
	content: "\f365";
}
.icon-arrow-left:before {
	content: "\e625";
}
.icon-return:before {
	content: "\e900";
}
.icon-home:before {
	content: "\e712";
}
.icon-new:before {
	content: "\e71e";
}
.icon-marker-circle:before {
	content: "\e763";
}
.icon-tag:before {
	content: "\e70a";
}
.icon-tags:before {
	content: "\e70b";
}
.icon-file:before {
	content: "\e7b1";
}
.icon-folder:before {
	content: "\e7c2";
}
.icon-download:before {
	content: "\e656";
}
.icon-crown:before {
	content: "\e711";
}
.icon-message:before {
	content: "\e6de";
}
.icon-bell:before {
	content: "\e798";
}
.icon-bell-ring:before {
	content: "\e799";
}
.icon-pen:before {
	content: "\e67a";
}
.icon-pens:before {
	content: "\e67b";
}
.icon-share:before {
	content: "\e65f";
}
.icon-rss:before {
	content: "\f143";
}
.icon-tistory:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e82e";
}
.icon-kakaostory:before {
	content: "\e838";
}
.icon-path:before {
	content: "\e839";
}
.icon-evernote:before {
	content: "\e83e";
}
.icon-line-messenger:before {
	content: "\e84b";
}
.icon-twitter:before {
	content: "\e81b";
}
.icon-facebook:before {
	content: "\f230";
}
.icon-google-plus:before {
	content: "\e81a";
}
.icon-naver:before {
	content: "\e820";
}
.icon-youtube:before {
	content: "\f166";
}
.icon-twitch:before {
	content: "\f4ed";
}
.icon-pocket:before {
	content: "\e827";
}
.icon-mac:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-linux:before {
	content: "\f17c";
}
.icon-bug:before {
	content: "\f188";
}
.icon-smiley:before {
	content: "\e6ee";
}
.icon-lock-circle:before {
	content: "\f23e";
}
.icon-angle_up:before {
	content: "\e901";
}
.icon-angle_down:before {
	content: "\e903";
}
.icon-angle-left:before {
	content: "\e904";
}
.icon-angle-right:before {
	content: "\e905";
}
.icon-soundcloud:before {
	content: "\e902";
}
.icon-vimeo:before {
	content: "\ea9d";
}
.icon-enter:before {
	content: "\ea13";
}
.icon-exit:before {
	content: "\ea14";
}

