.main-banner-img{
    width: 100%!important;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background: #fff3cd;
}
.main-banner-swiper-slide{
    display: inline;
    border: solid 1px;
    background: #fff3cd;
 }
.main-banner-swiper-container{
    background: #fff3cd;
}