@media all and (max-width: 400px) {
	.main-contents-swiper-container {
		margin-bottom: 16vw;
	}

	.main-contents-slick-dots li {
		font-size: 5vw;
	}

	.main-contents-slick-dots {
		top: -8vw;
		margin-top: 1vw !important;
	}

	.main-contents-slick {
		margin-top: 8vw;
	}

	.main-contents-slick-dots {
		bottom: 8vw;
		height: 7vw;
	}
}

@media (min-width: 400px) and (max-width: 800px) {
	.main-contents-swiper-container {
		margin-bottom: 19vw;
	}

	.main-contents-slick-dots li {
		font-size: 5vw;
	}

	.main-contents-slick-dots {
		top: -8vw;
		margin-top: 1vw !important;
	}

	.main-contents-slick {
		margin-top: 8vw;
	}

	.main-contents-slick-dots {
		bottom: 8vw;
		height: 7vw;
	}
}

@media (min-width: 800px) and (max-width: 979px) {
	.main-contents-swiper-container {
		margin-bottom: 16vw;
	}

	.main-contents-slick-dots li {
		font-size: 5vw;
	}

	.main-contents-slick-dots {
		top: -8vw;
		margin-top: 1vw !important;
	}

	.main-contents-slick {
		margin-top: 8vw;
	}

	.main-contents-slick-dots {
		bottom: 8vw;
		height: 7vw;
	}
}

@media all and (max-width: 979px) {
	.main-contents-dow-row {
		font-size: 5vw;
	}

	.main-contents-toon-title {
		font-size: 1.5vw;
	}

	.main-contents-toon-author {
		font-size: 1.5vw;
	}

	.main-contents-slick-dots li {
		font-size: 5vw;
	}

	.main-contents-slick-dots {
		top: -8vw;
		margin-top: 1vw !important;
	}

	.main-contents-slick {
		margin-top: 8vw;
	}

	.main-contents-slick-dots {
		bottom: 8vw;
		height: 7vw;
	}
}

@media all and (min-width: 980px) {
	.main-contents-dow-row {
		font-size: 50px;
	}

	.main-contents-toon-title {
		font-size: 15px;
	}

	.main-contents-toon-author {
		font-size: 15px;
	}

	.main-contents-swiper-container {
		margin-bottom: 160px;
	}

	.main-contents-slick-dots li {
		font-size: 50px;
	}

	.main-contents-slick-dots {
		top: -80px;
		margin-top: 10px !important;
	}

	.main-contents-slick {
		margin-top: 80px;
	}

	.main-contents-slick-dots {
		bottom: 80px;
		height: 70px;
	}
}

@media all and (max-width: 576px) {
	.main-contents-toon {
		min-width: 32vw;
		max-width: 32vw;
	}

	.main-contents-toon-img {
		min-width: 32vw;
	}

	.main-contents-toon-img img {
		width: 32vw;
	}
}

@media (min-width: 540px) and (max-width: 768px) {
	.main-contents-toon {
		min-width: 24vw;
		max-width: 24vw;
	}

	.main-contents-toon-img {
		min-width: 24vw;
	}

	.main-contents-toon-img img {
		width: 24vw;
	}
}

@media all and (min-width: 768px) {
	.main-contents-toon {
		min-width: 15vw;
		max-width: 15vw;
	}

	.main-contents-toon-img {
		min-width: 15vw;
	}

	.main-contents-toon-img img {
		width: 15vw;
	}
}

.main-contents-dow {
	background: #ffffff;
	z-index: 98;
}

.main-contents-swiper-slide {
	background: #ffffff;
	height: auto;
}

.main-contents-swiper-container {
}

.main-contents-dow {
	border: solid 0px;
	background: #ffffff;
	z-index: 98;
}

.main-contents-dow-btn {
	border: solid 0px;
	cursor: pointer;
	padding: 0 1vw 0 1vw;
}

.main-contents-dow-btn.unclcked {
	background-color: #ffffff;
	color: #000000;
}

.main-contents-dow-btn.clicked {
	background-color: #01cc3a;
	color: #ffffff;
}

.main-contents-toon {
	background-color: #ffffff;
	border: solid 1px;
	padding: 0;
	margin: -0.2px;
}

.main-contents-slick-dots li {
	margin: 0px;
	width: 14%;
	height: 100%;
}

.main-contents-slick-dots .slick-active {
	background: #03cc3a;
	color: #ffffff;
}

.slick-slide .container {
	max-width: none !important;
}

.main-contents-toon-img {
}

.main-contents-toon-thumbnail {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.default-thumbnail {
	width: 100%;
}

.main-contents-toon-middle {
	display: inline-block;
}

.main-contents-toon-middle div {
	display: inline;
}

.container .row a {
	display: contents;
	color: #000000;
}

.container .row a:hover {
	text-decoration: none !important;
}

.container .row a {
	text-decoration: none !important;
}

.main-contents-toon-info {
	text-align: left;
	margin-left: 15px;
}

.main-contents-toon-title {
	font-weight: bold;
	white-space: nowrap;
}

.main-contents-toon-star {
	color: #e60000;
	font-weight: bold;
}

.main-contents-toon-update {
	color: #e60000;
	border-radius: 10px;
	border: solid;
	padding: 2px;
}
