@media all and (max-width: 400px) {
	.main-menu {
		height: 16vw;
		margin: -16vw 0 0 0;
	}
	.main-menu-row{
		width: 100%;
	}
}

@media (min-width: 400px) and (max-width: 800px) {
	.main-menu {
		height: 19vw;
		margin: -19vw 0 0 0;
	}
	.main-menu-row{
		width: 100%;
	}
}

@media (min-width: 800px) and (max-width: 979px) {
	.main-menu {
		height: 16vw;
		margin: -16vw 0 0 0;
	}
	.main-menu-row{
		width: 100%;
	}
}

@media all and (min-width: 980px) {
	.main-menu {
		height: 160px;
		margin: -160px 0 0 0;
	}
	.main-menu-row{
		width: 980px;
	}
}

.main-menu-btn img {
	width: 100%;
	height: 100%;
	max-height: 120px;
	max-width: 96px;
}

.main-menu-btn-webtoon {
	content: url(/icon/webtoon_white.png);
}

.main-menu-btn-best {
	content: url(/icon/best_white.png);
}

.main-menu-btn-web-book {
	content: url(/icon/web_book_white.png);
}

.main-menu-btn-webtoon-plus {
	content: url(/icon/webtoon_plus_white.png);
}

.main-menu-btn-my {
	content: url(/icon/my_white.png);
}

.main-menu-btn-webtoon:hover {
	content: url(/icon/webtoon_gray.png);
}

.main-menu-btn-best:hover {
	content: url(/icon/best_gray.png);
}

.main-menu-btn-web-book:hover {
	content: url(/icon/web_book_gray.png);
}

.main-menu-btn-webtoon-plus:hover {
	content: url(/icon/webtoon_plus_gray.png);
}

.main-menu-btn-my:hover {
	content: url(/icon/my_gray.png);
}

.main-menu {
	border-top: solid 1px #aaaaaa;
	background: #ffffff;
	top: 100%;
	position: fixed;
	padding: 0;
	z-index: 99;
	text-align: center;
}

.main-menu-row {
	margin: 2px 4px 0px 4px;
	display: inline-flex;
}

.main-menu-btn-text-contents {
	font-weight: bold;
}
.main-menu-wrapper{
	background-color: #000000;
}
