.main-banner-swiper-slide {
	display: inline;
	border: solid 0px #ffffff;
	background: #ffffff;
}

.main-banner-swiper-container {
	background: #ffffff;
}

.main-banner-slick-dots {
	bottom: 0px;
}

.main-banner-img {
	width: 100%;
	height: auto;
	background: #fff3cd;
}
