				html,body{
            padding: 0;
            margin: 0;
        }
        .header {
            position: fixed;
            top: 0;
            width: 100%;
            height: 50px;
            background: whitesmoke;
        }
        .header a{
            font-size: 30px;
            margin: 20px;
        }

				.frame{
					background: #ececf6;
					border: 1px solid #c0c0c0;
					margin-bottom: 20px;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
				}

				.frame li{
					padding: 10px;
					border-top:1px solid #9e9e9e;
					list-style: none;
				}

				.sub_toon_lst{
					display: block;
				}
				.sub_toon_lst:after{
					content: " ";
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
					overflow: hidden;
				}

				li {
					display: list-item;
					text-align: -webkit-match-parent;
					/*list-style-type:none;
					border-bottom: 1px solid black;
					border-top: 1px solid black;*/
				}ul{
									 margin: 0;
									 padding: 0;
									 border:0;
									 font-size: 100%;
									 font:inherit;
									 vertical-align: baseline;
								 }
				 ul{
					 list-style: none;
				 }

				 .square{
					 display: block;
					 height: 50px;
					 width: 90px;
					 float: left;
				 }

				 /*.frame li{
					 display: block;
					 height: 48px;
					 width: 49px;
					 float: left;
				 }*/

				.frame ul{
            display: grid;
        }

				.frame li .toon_info{
					float: left;
					margin-left: 10px;
					width: 155px;
				}

				.frame strong{
					display: block;
					margin:0 0 4px;
				}

				strong{
					font-weight: bold;
				}
        .footer{
            width: 100%;
            height: 50px;
            background: #9fcdff;
					position: absolute;
            z-index: 99;
            bottom: 0;
					overflow: hidden;
        }

				.list-grid-container{
					margin: 50px 0;
				}
