.main-menu{
    border: solid 1px;
    top: 100%;
    height: 75px;
    background: #59ff57;
    position: fixed;
    margin: -75px 0 0 0;
    padding: 0;
    width: 100%;
    z-index: 99;
}
.main-menu-icon{
    height: auto;
    color: gray;
}
.main-menu-btn{
    display: grid;
    padding: 2px 0 2px 0px;
    text-align: center;
    border-left: solid 1px;
    border-right: solid 1px;
}
.main-menu-row{
    margin: 2px 4px 2px 4px;
}
.main-menu-btn-text-contents{
    font-weight: bold;
}